In [1]:
grades = [[95, 100, 100], [86, 90, 75], [98, 98, 96], [78, 90, 80], [70, 68, 72]]
for i in range(5):
    subTotal = 0
    for j in range(3):
        subTotal += grades[i][j]
    grades[i].append(subTotal)
for i in range(5):
    print("學生", i + 1, "的總分為", grades[i][3])

學生 1 的總分為 295
學生 2 的總分為 251
學生 3 的總分為 292
學生 4 的總分為 248
學生 5 的總分為 210

In [2]:
import random
lotto = []
for i in range(6):
    lotto.append(random.choice([x for x in range(1, 50) if x not in lotto]))
    print("第", i + 1, "次數字為", lotto[i])
lotto.sort()
print(lotto)

第 1 次數字為 30
第 2 次數字為 15
第 3 次數字為 31
第 4 次數字為 9
第 5 次數字為 46
第 6 次數字為 49
[9, 15, 30, 31, 46, 49]

In [3]:
T1 = (10, 20, 30, 40, 50)
S1 = {10, 20, 30, 40, 50}
S2 = {20, 40}
S3 = {10, 20, 30, 40, 50, 60, 80, 100}

print(T1)
print(S1)
print(T1.index(20))
print(S1.pop())
print(S1.issubset(S2))
print(S1.issuperset(S2))
print(S1.isdisjoint(S2))
print(S1.issubset(S3))
print(S1.issuperset(S3))
print(S1.isdisjoint(S3))

(10, 20, 30, 40, 50)
{50, 20, 40, 10, 30}
1
50
False
True
False
True
False
False

In [4]:
D1 = {"user1": "小丸子", "user2": "小玉", "user3": "花輪"}
D1.get("user1")
D1.pop("user2")
D1
D1.popitem()
D1

{'user1': '小丸子'}